[licenses]
unlicensed = "allow"
allow-osi-fsf-free = "both"
copyleft = "allow"

# List of explicitly allowed licenses
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-DFS-2016",
    "CC0-1.0",
]

# List of explicitly denied licenses
deny = [
    "GPL-2.0",
    "GPL-3.0",
]

[licenses.private]
ignore = true

[bans]
multiple-versions = "allow"
wildcards = "allow"

[sources]
allow-git = true
allow-registry = "https://github.com/rust-lang/crates.io-index"
